@model Person
@{
    ViewData["Title"] = "Contact";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    @Html.LabelFor(m => m.FirstName)
    @Html.TextBoxFor(m => m.FirstName)
    @Html.ValidationMessageFor(m => m.FirstName)
    <div>Lastname: <input type="text" name="lastname" /></div>
    @Html.ValidationMessageFor(m => m.Lastname)
    <div>E-mail: <input type="text" name="email" /></div>
    @Html.ValidationMessageFor(m => m.Email)
    <div>Phone: <input type="text" name="phone" /></div>
    @Html.ValidationMessageFor(m => m.Phone)
    <div>Adress: <input type="text" name="adress" /></div>
    @Html.ValidationMessageFor(m => m.Adress)
    <div>Description: <input type="text" name="adress" /></div>
    @Html.ValidationMessageFor(m => m.Description)

    <input type="submit" value="verstuur" />
</form>
