@using TheaterDeKoning.DataBase
@model List<Voorstelling>
@{
    ViewData["Title"] = @Model[0].naam;
}

<div class="detail-container">

    <div>
        <div class="detail-text">
            <h1> @Model[0].naam</h1>
            <p2> @Model[0].beschrijving</p2>
        </div>
        @foreach (var Voorstelling in Model)
        { 
            <div class="Bookbox"> 
            <button id="Book"> Book </button>
            <p2> Datum: @Voorstelling.datum   Tijd: @Voorstelling.Tijdvak   Zaal: @Voorstelling.Zaal</p2>
            </div> 
        }
    </div>
    <img id="Poster" class="Detail_poster" src="~/Images/@Model[0].Poster" />
</div>

@foreach (var Voorstelling in Model)
        { 
            <div class="Bookbox2"> 
            <button id="Book"> Book </button>
            <p2> Datum: @Voorstelling.datum   Tijd: @Voorstelling.Tijdvak   Zaal: @Voorstelling.Zaal</p2>
            </div> 
        }

<img id="Poster2" class="Detail_poster" src="~/Images/@Model[0].Poster" /> 